{% extends "base.html" %} {% block title %} Sign In {% endblock %} 
{% block
content %}
<div class="card-wrapper">
  <div class="card">
    <h1 class="center" style="color: black">Sign In to Account</h1>
    <form class="signup_form" method="POST">
      <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="email" class="field" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          id="password"
          name="password"
          type="password"
          class="field"
          required
        />
      </div>
      <p class="error error--hidden"></p>
      <input id="btn" class="btn" type="submit" value="Sign In" />
    </form>
  </div>
</div>

{% endblock %}
